<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.designbyte.mercadobox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logomercadobox"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".orderhistory.OrderHistoryActivity"></activity>
        <activity
            android:name=".detailorder.DetailActivity"
            android:label="Detalle de compra"
            android:parentActivityName=".cart.CartActivity" />
        <activity
            android:name=".cart.CartActivity"
            android:label="Productos en carrito "
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="Editar perfil"
            android:parentActivityName=".main.MainActivity" />
        <activity
            android:name=".signin.SigninActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>